[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
start = "uvicorn app.main:app"
dev = "uvicorn app.main:app --reload"
test = "pytest tests"
mypy = "mypy app tests"
isort = "isort app tests"
isort-check = "isort app tests --check-only"
black = "black app tests"
black-check = "black app tests --check"
ruff = "ruff check app tests"
ruff-fix = "ruff check app tests --fix"

[packages]
uvicorn = "*"
fastapi = "*"
pydantic = "*"
loguru = "*"

[dev-packages]
pytest = "*"
ruff = "*"
mypy = "*"
isort = "*"
black = "*"
pre-commit = "*"

[docs-packages]
mkdocs = "*"
mkdocs-material = "*"
mike = "*"

[requires]
python_version = "3.11"
