[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
start = "python -m uvicorn app.main:app"
dev = "python -m uvicorn app.main:app --reload"
test = "python -m pytest . --disable-warnings"
test-cov = "python -m coverage run --source app -m pytest -s -rA --disable-warnings"
test-html = "python -m coverage html"
mypy = "python -m mypy app tests"
isort = "python -m isort app tests"
isort-check = "python -m isort app tests --check-only"
black = "python -m black app tests"
black-check = "python -m black app tests --check"
ruff = "python -m ruff check app tests"
ruff-fix = "python -m ruff check app tests --fix"
ruff-format = "python -m ruff format app tests --check"

[packages]
uvicorn = "*"
fastapi = "*"
pydantic = "*"
loguru = "*"
httpx = "*"
pymongo = "*"
pydantic_settings = "*"
beanie = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
ruff = "*"
mypy = "*"
isort = "*"
black = "*"
pre-commit = "*"
mongomock-motor = "*"
coverage = "*"

[docs-packages]
mkdocs = "*"
mkdocs-material = "*"
mike = "*"

[requires]
python_version = "3.11"
